* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}

body {
    height: 200vh;
    width: 100%;
}

/* page 1 */
#page1 {
    height: 100vh;
    width: 100%;
    display: flex;

    /* background-color: blue; */
    background-image: url("HD-wallpaper-red-waves-on-black-background-red-aesthetic.jpg");
    background-size: cover;

}

img {
    height: 45px;

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: WHITE;
    font-size: 2em;
    user-select: none;
    letter-spacing: 2px;
}

input {
    margin: 5px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    outline: none;
}

input::placeholder {
    color: WHITE;
    font-weight: 1000;
    font-size: 1.5em;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: solid;
    font-weight: 600;
    margin-left: 40px;
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -6px;
    width: 0%;
    height: 3px;
    border-radius: 0px;
    background: WHITE;
    transition: 0.3s;

}

.navigation a:hover::after {
    width: 100%;
    background: crimson;
}

.navigation .btn {
    position: relative;
    width: 100px;
    height: 40px;
    margin-left: 40px;
    margin-right: 10px;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    border: double 2px;
    background-image: linear-gradient(#ffffff, rgb(250, 250, 250));
    background-repeat: no-repeat;
    -webkit-background-clip: border-box;
    background-position: -500px -500px;
}

.navigation .btn:hover {
    color: WHITE;
    border: 1px solid rgb(255, 255, 255);
    transition: background-position 0.5s ease-in-out;
    background-position: 0 0;
}

/*LOGIN */

/*login ends..*/

#heading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -45%);
}

#heading h1 {
    color: transparent;
    font-size: 4em;
    -webkit-text-stroke: 3px WHITE;
    font-family: " " Audiowide", sans-serif";
    font-weight: 100;
    letter-spacing: 45px;
    background-image: linear-gradient(#d19d00, rgb(232, 108, 0));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -2000px 0;

}

#heading h1:hover {
    transition: background-position 0.5s ease-in-out;
    background-position: 0 0;
}

/* page 1 ends */


#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: WHITE;
}

#box1,
#box2,
#box3 {
    height: 500px;
    width: 400px;
    background-color: WHITE;
    border: 2px solid WHITE;
    margin: 2px;
    left: 25%;
    padding: 2px;
    top: 50%;


}

#box1:hover {
    background-color: rgb(112, 216, 218);
    transform: scale(1.15);
    background-image: url("istockphoto-93214254-612x612.jpg");
    transition: transform 0.3s ease-in-out;
}

#box2:hover {
    background-color: orchid;
    transform: scale(1.15);
    background-image: url("aaye-aayein.gif");
    transition: transform 0.3s ease-in-out;
}

#box3:hover {

    background-color: rgb(218, 216, 112);
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

#box1 .h2 {
    top: 50%;
    color: WHITE;
    font-family: " " Audiowide", sans-serif";
}

#box3:hover~#page2 {
    background-color: crimson;
}