* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;

    /* background-color: blue; */
    background-image: url("653ab9dd1ef121f163c484d03322f1a9.jpg");
    background-size: cover;

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: white;
    font-size: 2em;
    user-select: none;
    letter-spacing: 2px;
}

input {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    outline: none;
}

input::placeholder {
    color: white;
    font-weight: 1000;
    font-size: 1.5em;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: solid;
    font-weight: 600;
    margin-left: 40px;
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background: white;
    transition: 0.5s;

}

.navigation a:hover::after {
    width: 100%;
}

.navigation .btn {
    position: relative;
    width: 100px;
    height: 40px;
    margin-left: 40px;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    border: double 2px;
    background-image: linear-gradient(#ffffff, rgb(250, 250, 250));
    background-repeat: no-repeat;
    -webkit-background-clip: border-box;
    background-position: -1000px 0;
}

/* .navigation .btn::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    margin-left: -40px;
    margin-right: 20px;

} */

.navigation .btn:hover {
    color: black;
    border: 1px solid rgb(255, 255, 255);
    transition: background-position 0.5s ease-in-out;
    background-position: 0 0;
}

/*LOGIN */
#login {
    position: absolute;
    width: 350px;
    height: 450px;
    background-color: transparent;
    border: 1px solid white;
    backdrop-filter: blur(8px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;

}

#register {
    position: absolute;
    width: 350px;
    height: 450px;
    background-color: transparent;
    border: 1px solid white;
    backdrop-filter: blur(8px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;

}

#login h1,
#register h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;

}


#login #input-box,
#register #input-box {
    margin-top: 60px;
    border-bottom: 1px solid white;
}

#login #input-box label,
#register #input-box label {
    color: #fff;
    margin-left: 5px;

}

#input-box input {
    width: 250px;
}

#login-btn {
    width: 250px;
    border-radius: 16px;
    height: 30px;
    background-color: #fff;
    color: black;
    border: none;
    margin-top: 50px;
}

#login-bottom {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#login #login-bottom a,
#register #login-bottom a {
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
}

#close {
    position: absolute;
}

#close {
    width: 50px;
    height: 20px;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    position: absolute;
    right: 20px;
    top: 35px;
    text-align: center;
    border-radius: 16px;
    line-height: 7px;
}

/*login ends..*/

#heading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -45%);
}

#heading h1 {

    color: transparent;
    font-size: 12em;
    -webkit-text-stroke: 3px white;
    font-family: "kajiro";
    font-weight: 100;
    letter-spacing: 45px;
    background-image: linear-gradient(#ffffff, rgb(250, 250, 250));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1000px 0;

}

#heading h1:hover {
    transition: background-position 0.5s ease-in-out;
    background-position: 0 0;

}